<app-navbar></app-navbar>

<div style="height: 500px">
  <form #registroForm="ngForm" (submit)="registro(registroForm)">
    <div
      style="
        align-items: center;
        text-align: center;
        font-size: 20px;
        margin-top: 60px;
      "
    >
      <h1>Registrate</h1>
      <input
        type="text"
        id="cont-name"
        placeholder="Nombre"
        required
        pInputText
        name="name"
        [(ngModel)]="userRegister.name"
        style="margin-top: 20px; width: 60%"
      />
      <br />

      <input
        type="email"
        id="cont-email"
        placeholder="Correo"
        required
        pInputText
        name="email"
        [(ngModel)]="userRegister.email"
        style="margin-top: 20px; width: 60%"
      />
      <br />

      <input
        type="password"
        id="cont-password"
        placeholder="Contraseña"
        required
        pInputText
        name="password"
        [(ngModel)]="userRegister.password"
        style="margin-top: 20px; width: 60%"
      />
      <br />
      <div style="margin-top: 20px">
        <p-button type="submit">Registrarse</p-button>
      </div>
    </div>
  </form>
</div>
